
*{
	padding: 0;margin: 0;border: box-border;
}

header{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background: url(meal.jpg);
	font-family: sans-serif;
}

nav{
	width: 100%;
	height: 100px;
	justify-content: space-around;
	display: flex;
	align-items: center;
	color: white;
}

.register a{
	text-decoration: none;
	padding: 10px 20px;
	background: #80CBC4;
	font-size: 20px;
	color: white;
	border-radius: 7px;
	
}

.logo{
	font-size: 30px;
	letter-spacing: 2px;
}

.menu a{
	padding: 10px 20px;
	font-size: 20px;
	color: wheat;
	text-decoration: none;
}

.txt{
	max-width: 650px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}

.txt h1{
	font-size: 90px;
	letter-spacing: 2px;

}

.txt h1:first-letter{
	color: #C62828;
}

.txt h2{
	font-size: 20px;
	letter-spacing: 1px;
}